/*
! Checksum: Ks/k4xFhTj0r3zcIEEX94g
! Latvian adblock element filter list
! Homepage: http://adblock-latvian.epit.lv/
! Email: anonymous.74100@gmail.com
! License: CC BY-NC-SA 3.0  https://creativecommons.org/licenses/by-nc-sa/3.0/
!
! Last modified: 28.04.2012. 13:48 UTC
! Expires: 2 days (update frequency)
*/
@namespace "http://www.w3.org/1999/xhtml";

a[href="http://www.salidzini.lv/"][style="display: block; width: 120px; height: 40px; overflow: hidden; position: relative;"],
a[href="http://www.salidzini.lv/"][style="display: block; width: 88px; height: 31px; overflow: hidden; position: relative;"],
/* 1188.lv */
.LabsservissAdd,
/* apollo.lv */
#lvc_infobox,
.admiral_box,
.apollo_infobox,
.ban420x200,
.ban420x260,
.ban680x450,
.ban980x90,
.city24_box,
.comment_banner_v2,
.eshop_table,
.middle_banner,
/* bilesuserviss.lv */
.banner_clicker,
/* delfi.lv */
#delfieduitems,
.delfi_shop,
.city24w,
[id^="adoceandelfilv"],
/* easyget.lv */
[class^="adholder"],
/* inbox.lv */
#inboxshops_div,
#inxHeadAdsPlace,
/* ir.lv */
#abonbanner,
/* notepad.lv */
#ad_big,
/* tvnet.lv */
#keyword_ad,
/* tvnet.lv financenet.lv*/
#ad_175x300,
#pop_keyword_everest_ad,
#pop_keyword_letpas_ad,
a[href^="http://q.tvnet.lv/"],
/* zip.lv */
#perkam_group_banner
{ display:none !important; }