/*
! Checksum: wb4NajnM27XHIzjknvDnAg
! Latvian List
! Homepage: http://latvian-list.site11.com/
! Email: anonymous.74100@gmail.com
! License: CC BY-SA 3.0  https://creativecommons.org/licenses/by-sa/3.0/
! Last modified: 2013-05-22 10:04 UTC
! Expires: 2 days (update frequency)
*/
@namespace "http://www.w3.org/1999/xhtml";
/*
!
! -------------- Generic ad blocking filters ---------------
!
!
! ------------- 1st party ad blocking filters --------------
!
!
! ------------- 3rd party ad blocking filters --------------
!
!
! ----------- Generic tracker blocking filters -------------
!
!
! ---------- 1st party tracker blocking filters ------------
!
!
! ---------- 3rd party tracker blocking filters ------------
!
!
! ------------------ 1st party whitelists ------------------
!
!
! ------------------ 3rd party whitelists ------------------
!
!
! ------------- Generic element hiding filters -------------
!
*/
#ad_175x300,
#ad_450x280,
#ad_700x430,
.ad_150x150,
.ad_250x200,
.ad_250x250_w,
.ad_350x100,
.ad_630x130,
.ban420x200,
.ban420x260,
.ban680x450,
.ban980x90,
a[href="http://www.salidzini.lv/"][style="display: block; width: 120px; height: 40px; overflow: hidden; position: relative;"],
a[href="http://www.salidzini.lv/"][style="display: block; width: 88px; height: 31px; overflow: hidden; position: relative;"]
/*
!
! ---------- Site specific element hiding filters ----------
!
*/
 { display: none !important; }

/* 1188.lv */
.LabsservissAdd,
/* apollo.lv */
#lvc_infobox,
#e-shop-banner-block,
.admiral_box,
.apollo_infobox,
.city24_box,
.comment_banner_v2,
.eshop_table,
.e-shop-banner-block,
.middle_banner,
/* bilesuserviss.lv */
.banner_clicker,
/* delfi.lv */
#delfieduitems,
.delfi_shop,
.city24w,
[id^="adoceandelfilv"],
/* easyget.lv */
[class^="adholder"],
/* inbox.lv */
#inboxshops_div,
#inxHeadAdsPlace,
/* ir.lv */
#abonbanner,
/* notepad.lv */
#ad_big,
/* tvnet.lv */
#keyword_ad,
#lattelecom_flying_boxv2,
/* tvnet.lv */
#pop_keyword_everest_ad,
#pop_keyword_letpas_ad,
a[href^="http://q.tvnet.lv/"],
/* zip.lv */
#perkam_group_banner
{ display:none !important; }
